<style>
    /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: darkred;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion.Valid {
    background-color: darkgreen;
}

.accordion.N_A {
    background-color: dodgerblue;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    flex: none;
    display: none;
    overflow: hidden;
}
</style>

{% for Range in focus_content %}
    <button class="accordion {{ Range.status }}">{{ Range.name }}</button>
    <div class="panel">
        <div class="frama {{ Range.status }}">
            {% for line in Range.lines %}
                {{ line }}<br>
            {% endfor %}
        </div>
    </div>
{% endfor %}

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>