{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%  static 'prover/styles.css' %}">
    <title>Prover</title>
</head>
<body class="theme--jool">

<header class="options-bar">
    <div class="dropdown">
        <button>File</button>
        <div class="content">
            <a href="/prover/file-upload">Upload</a>
            <a href="/prover/file-delete">Delete</a>
        </div>
    </div>
    <div class="dropdown">
        <button>Dir</button>
        <div class="content">
            <a href="/prover/dir-add">Add</a>
            <a href="/prover/dir-delete">Delete</a>
        </div>
    </div>
    <div class="dropdown">
        <button>View</button>
    </div>
    <div class="dropdown">
        <button>Help</button>
    </div>
</header>

<div id="main-container">
    <div id="file-selector" class="tool-window">
        <ul>
            {% include 'prover/tree_dir_view.html' %}
        </ul>
    </div>

    <div id="editor-and-tabs-container">
        <div id="editor-container">
            <div id="code-field">
                {% include 'prover/editor.html' %}
            </div>

            <aside id="focus-field" class="tool-window">
                {% include 'prover/focus.html' %}
            </aside>
        </div>

        <div id="tabs-container">
            <header class="options-bar">
                <a href="#tab1">Tab1</a>
                <a href="#tab2">Tab2</a>
                <a href="#tab3">Tab3</a>
                <a href="#tab4">Tab4</a>
            </header>
            <section class="tool-window">
                Donec varius auctor fringilla. Curabitur ullamcorper tempus commodo.<br>
                Nam ultricies odio non nunc dignissim, id scelerisque odio euismod. Suspendisse imperdiet nisi eget ex vestibulum, quis viverra lectus ultricies.<br>
                Curabitur tincidunt dolor aliquet interdum lobortis. Donec pharetra varius feugiat. Maecenas eget ligula lacus.<br>
                Duis eget nunc quis eros interdum vestibulum. <br>
                Nullam varius ipsum dolor, at vulputate ipsum fringilla id. Maecenas ultricies urna quis nibh tincidunt, eu sagittis diam congue. Quisque at bibendum velit, in scelerisque nulla. <br>
                Duis ultricies quis tellus at iaculis.
                <br><br>
                Duis eget nunc quis eros interdum vestibulum.<br>
                Nullam varius ipsum dolor, at vulputate ipsum fringilla id. Maecenas ultricies urna quis nibh tincidunt, eu sagittis diam congue. Quisque at bibendum velit, in scelerisque nulla. <br>
                Duis ultricies quis tellus at iaculis.
                Donec varius auctor fringilla. Curabitur ullamcorper tempus commodo.<br>
                Nam ultricies odio non nunc dignissim, id scelerisque odio euismod. Suspendisse imperdiet nisi eget ex vestibulum, quis viverra lectus ultricies.<br>
                Curabitur tincidunt dolor aliquet interdum lobortis. Donec pharetra varius feugiat. Maecenas eget ligula lacus.<br>
                Donec varius auctor fringilla. Curabitur ullamcorper tempus commodo.<br>
                Nam ultricies odio non nunc dignissim, id scelerisque odio euismod. Suspendisse imperdiet nisi eget ex vestibulum, quis viverra lectus ultricies.<br>
                Curabitur tincidunt dolor aliquet interdum lobortis. Donec pharetra varius feugiat. Maecenas eget ligula lacus.<br>
                Duis eget nunc quis eros interdum vestibulum. Aliquam sit amet nisi quam. Donec sollicitudin lectus at urna malesuada dapibus.<br>
                Nullam varius ipsum dolor, at vulputate ipsum fringilla id. Maecenas ultricies urna quis nibh tincidunt, eu sagittis diam congue. Quisque at bibendum velit, in scelerisque nulla. <br>
                Duis ultricies quis tellus at iaculis.
                Duis eget nunc quis eros interdum vestibulum. Aliquam sit amet nisi quam. Donec sollicitudin lectus at urna malesuada dapibus.<br>
                Nullam varius ipsum dolor, at vulputate ipsum fringilla id. Maecenas ultricies urna quis nibh tincidunt, eu sagittis diam congue. Quisque at bibendum velit, in scelerisque nulla. <br>
                Duis ultricies quis tellus at iaculis.
                Donec varius auctor fringilla. Curabitur ullamcorper tempus commodo.<br>
                Nam ultricies odio non nunc dignissim, id scelerisque odio euismod. Suspendisse imperdiet nisi eget ex vestibulum, quis viverra lectus ultricies.<br>
                Curabitur tincidunt dolor aliquet interdum lobortis. Donec pharetra varius feugiat. Maecenas eget ligula lacus.<br>
            </section>
        </div>
    </div>
</div>


</body>
</html>